
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Google Imported Font and Its Style */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Universal Selector and Style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared Style for Multiple Uses */
.display-flex{
    display: flex;
}

/* Dark1 */

.title-text-color{
    color: #131313;
}
 /* Dark2 */
 .text-gray{
    color: #424242;
 }

 /* Dark3 */
.normal-text{
    color: #727272;
}

 .bg-light-color{
    background-color: rgba(255, 144, 14, 0.1);
 }

/* Header Related Designs */
header{
    padding-top: 50px;
}

header nav{
    align-items: center;
}

/* Navbar Related Designs */
.navbar{
    justify-content: space-between;
}

.nav-links .nav-item{
   list-style: none;
   margin-right: 35px;
}

.nav-item .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 5001;
}

.navbar, .banner{
    max-width: 1400px;
    margin: 0 auto; 
}
.banner .banner-content{
    max-width: 882px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 209px;
    text-align: center;
}

.banner .banner-content .banner-title{
    font-size: 64px;
    font-weight: bold;
}

.banner-content .banner-description{
    font-size: 18px;
    font-weight: none;
    line-height: 30px;
    margin-top: 35px;
}