
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Google Imported Font and Its Style */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Universal Selector and Style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared Style for Multiple Uses */
.display-flex{
    display: flex;
}


/* Dark1 */

.title-text-color{
    color: #131313;
}
 /* Dark2 */
 .text-gray{
    color: #424242;
 }

 /* Dark3 */
.normal-text{
    color: #727272;
}
 .bg-light-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Primary Button Design Share Style */
.primary-btn{
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 500;
    max-width: 184px;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    margin:32px 0px;
    
}

/* Header Related Designs */
header{
    padding-top: 50px;
}
header nav{
    align-items: center;
}

/* Navbar Related Designs */
.navbar{
    justify-content: space-between;
}

.nav-links .nav-item{
   list-style: none;
   margin-right: 35px;
}

.nav-item .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 5001;
}

.navbar, .banner{
    max-width: 1400px;
    margin: 0 auto; 
}
.banner .banner-content{
    max-width: 882px;
    margin: 0 auto;
    margin-top: 209px;
    text-align: center;
}

.banner .banner-content .banner-title{
    font-size: 64px;
    font-weight: bold;
}

.banner-content .banner-description{
    font-size: 18px;
    font-weight: none;
    line-height: 30px;
    margin-top: 35px;
}

.banner .button-section button{
    color: white;
    font-size: 20px;
    font-weight: 500;
    max-width: 184px;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    /* margin:32px; */
}

.banner .banner-bg-img{
    max-width: 1440px;
    border: none;
    padding-bottom: 50px;
}

/* Main Section Designs */

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 85px;
}

/* Teams Section Designs */

main .teams{
    align-items: center;
}

.teams .team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams .team-description{
    max-width: 537px;
    margin-left: 73px;
    justify-content: center;
}

.team-description .team-title{
    font-size: 45px;
    margin-bottom: 24px;
}

/* Experience Section Designs */

main .experience-section{
    border: 1px solid red;
    display: flex;
    gap: 54px ;
}

.experience-section .experience-content{
    max-width: 654px;
    border: 1px solid green;
    margin-top: 30px;
}

.experience-content .experi-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.experience-section .experience-img{
    max-width: 800px;
}

.experience-content .experi-description{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 30px;
}